.singleCatContents{
  margin-left: 30px;
}


.ConteneurCategorie {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin: auto;
  padding-left: 17.5%;
}

.Article {
    border: solid black 1px;
    width: 20%;
}

.titreArticle {
  width: 100%;
}

.articleA {
  width: 20%;
}

.titreArticle {
  margin:2px;
  width: 100%;
}

.imageArticle {
  width:100%;
  height: 200px;
}


.ArticleCategorie h2 {
  margin-left:40%;
}
