
header {
  height: 200px;
  width:  100%;
  background-color: black;
}

.NavHeader nav {
  background-color: green;
}

.NavHeader nav ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0px
}

.NavHeader li {
  list-style: none;
}

.NavHeader nav ul li a {
  display: block;

  color: white;
  font-weight: bold;
  font-size: 0.9em;
  text-decoration: none;
  padding: 1.5em;
  border-left: solid white 2px;
}

.NavHeader nav ul li a:hover{
  background-color: White;
  color: black;
}



#wrap /* Division contenant l'ensemble du body sauf le footer */
{
   min-height: 100%;
/* égal à la hauteur du footer */
   margin-bottom: -200px;
}

#wrap:after
{display: block;
 content: "";
}

footer, #wrap:after{
  height: 200px;
  background-color: blue;
}

footer div p {
  margin-left: 30%;
  margin-top: 100px;
}


.contenu {
  min-height: 1000px;
  background-color: yellow;
}
